@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
h3{
    width: 120px;
    height: 600px;
    color: red;
}